<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>Опубликовано: 14.06.2014, 12:14</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Крот енот капуста</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Крот енот капуста и бизон</p>
        </div>
    </body>
</html>